$color-text-anchor: #585858;
$color-bg-main-search: #cbd5c4;
$color-main-search: #3B8DE0;
$color-main-search-hover: #2074c8;
$length-header-height: 61px;

html, body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $color-text-anchor;
}

ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.clearfix {
  &::after {
    content: '';
    display: block;
    height: 0;
    clear: both;
  }
}

header.top-header {
  height: $length-header-height;
  background-color: #fdd;

  //하위 nav, .header-menu, li, li > a 요소가 전부 같은 height를 갖도록 함
  > nav {
    height: $length-header-height;
    > .header-menu {
      li {
        height: $length-header-height;
        line-height: $length-header-height;
        float: left;

        //로고 이미지 위치는 수동으로 조절
        .img-logo {
          margin-top: 16px;
          margin-left: 20px;
          margin-right: 20px;
        }
        //li의 자식 요소인 a들은 height값을 가지며,
        //a요소는 원래 inline이므로 높이값을 갖기 위해 display 속성을 inline-block으로 변경
        > a {
          height: $length-header-height;
          display: inline-block;
        }
      }
      //.
      &.header-menu-left {
        float: left;
        li {
          margin-right: 7px;
        }
      }
      &.header-menu-right {
        float: right;

        li > a {
          padding: 0 8px;
        }

        > .right-sub-menu {
          float: left;
        }
        > .header-right-menu1 {
          margin-right: 40px;
        }
      }
    }
  }
}

.main-search-container {
  position: relative;
  width: 100%;
  height: 678px;
  background-color: $color-bg-main-search;

  > .img-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/dabang-background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
  }
  > .img-hyeri {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/dabang-hyeri.png');
    background-repeat: no-repeat;
    background-position: center bottom;
  }
  > .search-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 110px;
    background-color: rgba(0, 0, 0, 0.6);

  }
  > .input-container {
    position: absolute;
    bottom: 0;
    // left: calc(50% - (434px + 100px) / 2);
    left: 50%;
    transform: translateX(-50%);
    height: 110px;
    padding-top: 30px;
    box-sizing: border-box;

    > input, button {
      float: left;
      height: 50px;
      border: none;
      box-sizing: border-box;

      &:focus {
        outline: none;
      }
    }
    > input {
      width: 434px;
      padding: 0 20px;
      font-size: 14px;
      line-height: 50px;
      border-radius: 5px 0 0 5px;
    }
    > button {
      width: 100px;
      color: white;
      font-size: 15px;
      background-color: $color-main-search;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
      transition-duration: 0.2s;

      &:hover {
        background-color: $color-main-search-hover;
      }
    }
  }
}

.theme-search-container {
  position: relative;
  // width: 100%;
  // margin-top: 60px;
  width: 960px;
  margin: 0 auto 150px auto;
  background-color: #fcc;

  > .theme-header {
    text-align: center;

    h2, p {
      margin: 0;
      padding: 0;
    }

    > h2 {
      margin-top: 70px;
      font-size: 36px;
      // display: inline-block;
      // transform: translateX(75%);
    }
    > p {
      margin-top: 5px;
      font-size: 20px;
      margin-bottom: 50px;
    }
  }
  .theme-list {
    .theme-item {
      width: 300px;
      height: 300px;
      float: left;
      box-sizing: border-box;
      margin-bottom: 30px;
      overflow: hidden;

      &:nth-of-type(3n-1) {
        margin: 0 30px;
      }

      > a {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100%;

        > * {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
        }
        > .img-bg {
          height: 100%;
          transition-duration: 0.4s;

          &.pet {
            background-image: url('../images/dabang-pet.jpg')
          }
        }


        > .mask {
          height: 100%;
          background-color: rgba(0, 0, 0, 0.3);
        }
        > .text-container {
          color: white;
          text-align: center;
          top: 50%;
          transform: translateY(-50%);
          padding: 0 10%;
          box-sizing: border-box;

          hr.theme-item-line {
            width: 20%;
          }
        }

        &:hover {
          > .img-bg {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

.footer-line {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #266BC2;

  .img-home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/web_home_1000X100.png');
    background-repeat: no-repeat;
    background-position: center bottom;
  }
}

.site-map {
  position: relative;
  width: 960px;
  margin: 48px auto 71px;
  background-color: #fcc;

  .site-map-list {
    float: left;
    width: 190px;
    line-height: 1.5;

    .sub {
      margin-bottom: 30px;
    }
  }
}

.term-line {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 49px;
  border-top: 1px solid #D1D1D1;
  border-bottom: 1px solid #D1D1D1;
  .term-member {
    width: 960px;
    margin: 0 auto;
  }

  a {
    width: 136px;
    height: 49px;
    line-height: 49px;
  }

  li {
    width: 136px;
    text-align: center;
    font-size: 15px;
    float: left;
    height: 49px;
    display: inline-block;
    border-right: 1px solid #D1D1D1;
  }
}


  //
  //   .theme-list {
  //     position: absolute;
  //     width: 960px;
  //     top: 130%;
  //     left: 50%;
  //     transform: translateX(-50%);
  //     float: left;
  //
  //     li {
  //       float: left;
  //       margin-left: 20px;
  //     }
  //
  //     > a {
  //       margin: 0;
  //       padding: 0;
  //     }
  //
  //
  //   }
  // }
//
//
//   .theme-list {
//     .theme-item {
//       width: 300px;
//       height: 300px;
//       float: left;
//       box-sizing: border-box;
//       margin-bottom: 30px;
//       border: 1px solid black;
//
//
//       &:nth-child(3n-1) {
//         margin: 0 30px;
//       }
//
//       > a {
//         position: relative;
//         display: inline-block;
//         width: 100%;
//         height: 100%;
//
//         > * {
//           position: absolute;
//           top: 0;
//           left: 0;
//           width: 100%;
//         }
//
//         &:hover {
//           transform: scale(1.5);
//         }
//
//         h3, p {
//           display: inline-block;
//           margin: 0;
//           color: white;
//         }
//         h3 {
//           font-size: 24px;
//           transform: translateY(-800%);
//         }
//         p {
//           transform: translateY(-300%);
//         }
//       }
//     }
//   }
// }
