/*목차
1. 변수
2. 전역설정
3. sns 헤더(후원자 로그인, sns 버튼, 검색창) .sns-header
4. 메인 헤더(아이콘과 메뉴바) .main-header
5. 메인 백그라운드(사진과 문구) .main-bg-container
6. 테마 판넬(공지사항과 소식) .theme-panels-container
  6.1 공지사항 판넬 (말라리아와 공지사항) .notice-panel
  6.2 소식 판넬 (3개의 사진) .news-panel
  6.3 하단부 프로모션 판넬 (3개의 contact 창구) .promotion-panel
7. 사이트 푸터(하단 메뉴) .site-footer
*/

//1. 변수
$length-header-height: 42px;
$length-main-header-height: 112px;
$color-bg-main: #ED1B24;
$color-bg-gray: #4C4C4C;
$color-bg-gray-more: #e0e0e0;
$color-bg-gray-hover: #5C5C5C;

//2. 전역설정
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  text-decoration: none;
  color: #272727;
}

ol, ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.clearfix {
  &::after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
  }
}

//3. sns 헤더
header.sns-header {
  height: $length-header-height;
  background-color: $color-bg-gray;
  > nav {
    height: $length-header-height;
    width: 1230px;
    padding: 0 18px;
    margin: 0 auto;
    box-sizing: border-box;
    >.header-supporter {
      height: $length-header-height;
      float: right;
      padding: 0 15px;
    }
    li {
      height: $length-header-height;
      line-height: $length-header-height;
      float: left;
      > * {
        height: $length-header-height;
        display: inline-block;
        .login-button {
          background-color: $color-bg-gray;
          color: white;
          border: 1px solid white;
          font-size: 13px;
          border-radius: 2px;
          cursor: pointer;
          &:hover {
            background-color: $color-bg-gray-hover;
          }
          &:focus {
            outline: none;
          }
        }
        .social {
          width: 17px;
          height: $length-header-height;
          margin: 0 9px;
          color: white;
          &.fbk {
            background-image: url('../images/header-ico-sns.png');
            background-repeat: no-repeat;
            background-position: 0px 12px;
          }
          &.twt {
            background-image: url('../images/header-ico-sns.png');
            background-repeat: no-repeat;
            background-position: -17px 12px;
          }
          &.happybn {
            background-image: url('../images/header-ico-sns.png');
            background-repeat: no-repeat;
            background-position: -34px 12px;
          }
          &.yt {
            background-image: url('../images/header-ico-sns.png');
            background-repeat: no-repeat;
            background-position: -51px 12px;
          }
          &.is {
            background-image: url('../images/header-ico-sns.png');
            background-repeat: no-repeat;
            background-position: -68px 12px;
          }
          &.ka {
            background-image: url('../images/header-ico-sns.png');
            background-repeat: no-repeat;
            background-position: -85px 12px;
          }
          &.brc {
            background-image: url('../images/header-ico-sns.png');
            background-repeat: no-repeat;
            background-position: -119px 12px;
          }
          &.rss {
            background-image: url('../images/header-ico-sns.png');
            background-repeat: no-repeat;
            background-position: -102px 12px;
          }
          &.blg {
            background-image: url('../images/header-ico-sns.png');
            background-repeat: no-repeat;
            background-position: -136px 12px;
          }
        }
        .search-box {
          margin-top: 7px;
          line-height: $length-header-height;
          height: $length-header-height;
          width: 176px;
          box-sizing: border-box;
          > input, button {
            float: left;
            height: 27px;
            border: none;
            box-sizing: border-box;
            &:focus {
              outline: none;
            }
          }
          > input {
            width: 149px;
            font-size: 14px;
            line-height: 27px;
            text-indent: 10px;
          }
          > button {
            width: 27px;
            background-color: white;
            cursor: pointer;
          }
        }
      }
    }
  }
}
//4. 메인 헤더
header.main-header {
  height: $length-main-header-height;
  > nav {
    height: $length-main-header-height;
    width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
    >.header-menu {
      height: $length-main-header-height;
      float: left;
      > * {
        display: inline-block;
        height: $length-main-header-height;
        .main-icon {
          margin-top: 15px;
          margin-left: 20px;
        }
      }
    }
    >.list-item {
      float: right;
      li {
        height: $length-main-header-height;
        line-height: $length-main-header-height;
        float: left;
        font-size: 17px;
        padding: 0 0 0 100px;
        letter-spacing: 2.5px;
      }
      .sub-item {
        padding: 0 0 10px 0;
        &:hover {
          border-bottom: 3px solid $color-bg-main;
          width: 30%;
        }
      }
      .donate-button1 {
        padding: 0 18px 0 80px;
        a {
          color: white;
          background-color: $color-bg-main;
          padding: 18px 22px 18px 22px;
        }
      }
    }
  }
  }
//5. 메인 백그라운드
.main-bg-container {
  position: relative;
  width: 100%;
  height: 456px;
  background-color: black;
  > .img-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/KAR_promo_main.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
  }
  > .text-container {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 0 32px 20px 32px;
    > .description {
      width: 1230px;
      margin: 0 auto;
      color: white;
      > .title {
        font-size: 40px;
        background-color: $color-bg-main;
        display: inline-block;
        box-sizing: border-box;
        margin: 0;
        padding: 10px 15px;
      }
      > .subtitle {
        font-size: 17px;
        text-shadow: black 1px 1px;
      }

    }
  }
}
//6. 테마 판넬
.theme-panels-container {
  width: 1230px;
  margin: 0 auto;
  margin-bottom: 70px;
  //6.1 공지사항 판넬
  .notice-panel {
    position: relative;
    width: 1230px;
    float: left;
    //float left 후에 clearfix 장착
    .malaria {
      width: 808px;
      padding-top: 50px;
      padding-left: 32px;
      float: left;
      .malaria-title {
        box-sizing: border-box;
        a {
          color: $color-bg-main;
        }
      }
      .malaria-description {
        padding-top: 20px;
        padding-bottom: 50px;
        box-sizing: border-box;
        float: left;
        li {
          float: left;
        }
        .img-medicine {
          width: 45px;
          height: 45px;
          background-size: 42px;
          background-repeat: no-repeat;
          background-image: url('../images/medicinas.png');
        }
        .how-much {
          padding-left: 5px;
          font-weight: bold;
          font-size: 50px;
          letter-spacing: -3px;
          a {
            color: $color-bg-main;
          }
        }
        .won {
          color: $color-bg-gray;
          font-size: 25px;
          margin-top: 20px;
          padding-left: 2px;
          padding-right: 15px;
        }
        .text-description {
          border-left: 1px solid $color-bg-gray-more;
          padding-left: 15px;
          padding-bottom: 30px;
          box-sizing: border-box;
        }
      }
    }
    .notice-list {
      position: absolute;
      left: 67%;
      top: -16px;
      width: 390px;
      padding: 25px;
      box-sizing: border-box;
      background-color: white;
      border: 1px solid $color-bg-gray-more;
      float: left;
      .notice-title {
        margin-bottom: 20px;
        h3 {
          color: $color-bg-gray;
          margin: 0;
          float: left;
          line-height: 29px;
        }
        button {
          color: $color-bg-gray;
          float: left;
          border: 1px solid $color-bg-gray-more;
          background-color: white;
          white-space: pre;
          font-size: 12px;
          padding: 5px 15px 7px 10px;
          margin-left: 20px;
          cursor: pointer;
          &:focus {
            outline: none;
          }
        }
      }
      .list-item {
        li {
          color: $color-bg-gray;
          line-height: 1.7;
          font-size: 15px;
          display: inline-block;
          max-width: 300px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          span {
            color: $color-bg-main;
            padding-right: 10px;
          }
        }
      }
      .notice-img {
        position: absolute;
        left: -17px;
        top: -1px;
        padding: 0;
        margin: 0;
        width: 16px;
        height: 16px;
        background-size: 16px;
        background-image: url('../images/home-else-notice.png');
      }
    }
  }
  //6.2 소식 판넬
  .news-panel {
    float: left;
    padding-left: 32px;
    padding-bottom: 50px;
    .news-title {
      height: 29px;
      h3 {
        color: $color-bg-gray;
        margin: 0;
        float: left;
        line-height: 29px;
        display: inline-block;
      }
      button {
        color: $color-bg-gray;
        float: left;
        border: 1px solid $color-bg-gray-more;
        background-color: white;
        white-space: pre;
        font-size: 12px;
        padding: 5px 15px 7px 10px;
        margin-left: 20px;
        cursor: pointer;
        &:focus {
          outline: none;
        }
      }
    }
    .news-table {
      padding-top: 15px;
      .news-item {
        position: relative;
        width: 389px;
        height: 292px;
        // border: 1px solid black;
        float: left;
        box-sizing: border-box;
        &:nth-of-type(2) {
          margin: 0 7px;
        }
        > a {
          display: inline-block;
          width: 100%;
          height: 100%;
          .img-bg {
            height: 100%;
            &.belarus {
              background-size: cover;
              background-image: url('../images/MSF206301_Medium.jpg');
            }
            &.libya {
              background-size: cover;
              background-image: url('../images/MSF181146_Medium.jpg');
            }
            &.bangladesh {
              background-size: cover;
              background-image: url('../images/IMG-20170906-WA0009.jpg');
            }
          }
        }
        .text-container {
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 16px 18px;
          height: 104px;
          box-sizing: border-box;
          margin: 10px;
          background-color: white;
          font-size: 16px;
          line-height: 1.5;
          .meta {
            font-size: 14px;
            padding-top: 5px;
            position: absolute;
            bottom: 13px;
            .meta-title {
              color: $color-bg-main;
              float: left;
              padding-right: 10px;
            }
            .meta-date {
              border-left: 1px solid $color-bg-gray-more;
              float: left;
              padding-left: 10px;
            }
          }
        }
      }
    }
  }
  //6.3 하단부 프로모션 판넬
  .promotion-panel {
    margin-left: 32px;
    float: left;
    border-top: 1px solid $color-bg-gray-more;
    border-bottom: 1px solid $color-bg-gray-more;
    border-width: 30%;
    a {
      float: left;
      font-size: 20px;
      margin: 26px 0;
      padding: 0 26px;
      box-sizing: border-box;
      &:nth-of-type(2) {
        border-left: 1px solid $color-bg-gray-more;
        border-right: 1px solid $color-bg-gray-more;
      }
      .img-bg {
        float: left;
        width: 66px;
        height: 46px;
        margin: 0 24px;
        background-repeat: no-repeat;
        &.recruit {
          background-image: url('../images/home-ico-links.png');
        }
        &.letter {
          background-image: url('../images/home-ico-links.png');
          background-position: -120px 0;
        }
        &.heart {
          background-image: url('../images/home-ico-links.png');
          background-position: -62px 0;
        }
      }
      .text {
        float: left;
        padding-right: 24px;
        line-height: 46px;
      }
    }
  }
}
//7.사이트 푸터
.site-footer {
  width: 1230px;
  margin: 0 auto;
  background-color: #F8F8F8;

}
