$length-header-height: 40px;
html, body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgba(0,0,0,0.5);
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header.top-header {
  padding: 0.5rem 1rem;
  background-color: #f7f7f9;
  border-bottom: 1px solid #191727;
  .img-logo {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 16px;
  }
  >nav {
    height: 40px;
    >.header-menu {
      height: 20px;
      li {
        float: left;
        line-height: 20px;

        > a {
          height: 20px;
          display: inline-block;
        }
      }

      &.header-menu-left {
        float: left;
        li {
          padding: 10px 8px;
        }
      }
      &.header-menu-right {
        float: right;
        li {
          padding: 10px 8px;
        }
      }
    }

  }
}
