$length-header-height: 40px;
html, body {
  margin: 0;
  padding: 0;
  background-color: #423E66;
}

a {
  text-decoration: none;
  color: rgba(0,0,0,0.5);
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header.top-header {
  padding: 0.5rem 1rem;
  background-color: #f7f7f9;
  border-bottom: 1px solid #191727;
  .img-logo {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 16px;
  }
  >nav {
    height: 40px;
    >.header-menu {
      height: 20px;
      li {
        float: left;
        line-height: 20px;

        >a {
          height: 20px;
          display: inline-block;
        }
      }

      &.header-menu-left {
        float: left;
        li {
          padding: 10px 8px;
          margin: 0 auto;
        }
      }
      &.header-menu-right {
        float: right;
        li {
          padding: 10px 8px;
        }
      }
    }

  }
}

div.main {
  margin-top: 4rem;
  >.top {
    padding: 4rem 0;
  >.container {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    .img-main {
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%, 30%);
      width: 200px;
      height: 200px;
    }
    .title {
      position: absolute;
      left: 50%;
      transform: translate(-50%,350%);
      display: inline;
      text-align: center;
      color: white;
      font-size: 4rem;
    }
  }

  }

}
